.container {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 60% 20% 20%;
  align-items: center;
  max-width: 1100px;

  .product {
    max-width: 595px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

    img {
      width: 120px;
      height: auto;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.04),
        rgba(0, 0, 0, 0.04)
      );
      border-radius: 16px;
    }

    .title {
      font-weight: 500;
      line-height: 150%;
      transition: 0.3s all;
      &:hover {
        color: #7b54c9;
      }
    }
  }

  .quantity {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: flex-end;
    align-self: flex-start;
    gap: 24px;

    .checkoutQuantity {
      font-size: 20px;
      line-height: 18px;
      color: #bdbdbd;
    }

    button {
      background-color: transparent;
      border: 1px solid #e0e0e0;
      border-radius: 8px;

      cursor: pointer;
    }

    .number {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      span {
        font-size: 20px;
        line-height: 18px;
      }

      hr {
        width: 32px;
        height: 0px;
        border: 1px solid #e0e0e0;
      }
    }
  }

  .centrelized {
    margin-top: 0px;
    align-self: center;
  }

  .prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;

    .checkoutPrice {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: right;
    }

    .monthly {
      display: flex;
      flex-direction: column;

      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #e91d24;

      span {
        font-size: 14px;
        line-height: 16px;
        color: #bdbdbd;
      }
    }

    .discounted {
      line-height: 19px;
      font-weight: 600;
    }

    .price {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-decoration-line: line-through;
      color: #bdbdbd;
    }
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: 50% 50%;
    row-gap: 30px;

    .product {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 40% 55%;
    }
    .quantity {
      justify-content: flex-start;
    }
    .prices {
      justify-content: flex-end;
    }
  }
}
