.container {
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    input {
      &:-webkit-autofill {
        background-color: transparent;
      }
    }
  }

  .error {
    color: red;
  }
}
