.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 40px;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #bdbdbd;
    }

    &.active {
      a {
        color: #242424;
        pointer-events: none;
      }
    }
  }
}
