.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-top: 40px;

  a {
    font-weight: 500;
    line-height: 19px;
    color: #bdbdbd;
  }

  &.active {
    a {
      color: #242424;
      pointer-events: none;
    }
  }
}
