.container {
  // width: 32px;
  height: 30px;
  margin: 0.3em;

  input[type="radio"] {
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:after {
      width: 24px;
      height: 24px;
      border-radius: 50px;
      top: -1px;
      left: -1px;
      position: relative;
      background-color: #d1d3d1;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
    }

    &:checked:after {
      width: 24px;
      height: 22spx;
      border-radius: 15px;
      position: relative;
      content: "";
      display: inline-block;
      visibility: visible;
      outline: 2px solid #7b54c9;
      outline-offset: 2px;
    }
  }
}

.red {
  input[type="radio"] {
    &:after {
      background-color: #e95050;
    }
  }
}

.black {
  input[type="radio"] {
    &:after {
      background-color: #242424;
    }
  }
}

.white {
  input[type="radio"] {
    &:after {
      background-color: #ecedee;
    }
  }
}

.gray {
  input[type="radio"] {
    &:after {
      background: #808080;
    }
  }
}

.gold {
  input[type="radio"] {
    &:after {
      background-color: #ffd700;
    }
  }
}

.bronze {
  input[type="radio"] {
    &:after {
      background-color: #cd7f32;
    }
  }
}
