.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 50%;

  input {
    &::placeholder {
      color: #c0c0c0;
    }
  }

  .contactInfo {
    display: flex;
    flex-direction: column;
    gap: 64px;

    .category {
      display: flex;
      flex-direction: column;
      gap: 24px;

      h4 {
        color: #bdbdbd;
      }

      .personalInformation {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        input {
          padding: 16px 18px;
          border: 1px solid #e0e0e0;
          border-radius: 16px;

          &:focus {
            outline: none;
          }
        }
      }

      .orderType {
        button {
          width: 40%;
          border: none;
          padding: 16px 0;
          color: #7b54c9;
          background-color: white;
          font-size: 16px;
          line-height: 19px;
          cursor: pointer;
          border: 1px solid #7b54c9;

          &.active {
            background-color: #7b54c9;
            color: white;
          }

          &:nth-of-type(1) {
            border-radius: 16px 0px 0px 16px;
          }

          &:nth-of-type(2) {
            border-radius: 0px 16px 16px 0px;
          }
        }
      }

      .chosePayment {
        display: flex;
        flex-direction: row;
        gap: 80px;

        .column {
          display: flex;
          flex-direction: column;
          gap: 24px;

          .radio {
            display: flex;
            flex-direction: row;
            gap: 12px;
            align-items: center;

            input[type="radio"] {
              cursor: pointer;
              width: 18px;
              height: 18px;
              //   &:checked {
              //     background-color: red;
              //     accent-color: #ffffff;
              //   }
              &:after {
                border: 1px solid #e0e0e0;
              }

              &:checked:after {
                width: 14px;
                height: 14px;
                border-radius: 15px;
                // top: -2px;
                left: 1px;
                position: relative;
                background-color: white;
                content: "";
                display: inline-block;
                visibility: visible;
                // border: 6px solid #7b54c9;
                outline: 4px solid #7b54c9;
              }
            }
          }
        }
      }
    }

    .immediately {
      gap: 64px;

      .instalment {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .cardInfo {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 24px;

          input {
            padding: 16px 18px;
            border: 1px solid #e0e0e0;
            border-radius: 16px;

            &:focus {
              outline: none;
            }
          }
        }

        textarea {
          border: 1px solid #e0e0e0;
          border-radius: 16px;
          padding: 16px 18px;
          font-size: 15px;
          line-height: 18px;
          resize: none;
          width: 70%;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    max-width: 100%;
    .contactInfo {
      .category {
        .orderType {
          button {
            width: 50%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    .contactInfo {
      .category {
        .orderType {
          button {
            font-size: 14px;
          }
        }

        .personalInformation {
          display: flex;
          flex-direction: column;
          input {
            padding: 16px 18px;
            border: 1px solid #e0e0e0;
            border-radius: 16px;

            &:focus {
              outline: none;
            }
          }
        }

        .chosePayment {
          flex-direction: column;
          gap: 24px;
        }
      }

      .immediately {
        .instalment {
          .cardInfo {
            display: flex;
            flex-direction: column;
          }

          textarea {
            width: 100%;
          }
        }
      }
    }
  }
}
