.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 253px;

  .category {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      svg {
        transform: rotate(90deg);
        cursor: pointer;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .radios {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .closeButton {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    display: flex;
    padding: 2em;
    position: fixed;
    overflow-y: scroll;
    background-color: white;
    width: 100vw;
    height: 100vh;
    right: -100vw;
    top: 0;
    z-index: 12;
    transition: all 0.3s;
    opacity: 0;

    .closeButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }
  }
}

.filterOpen {
  @media screen and (max-width: 1024px) {
    display: flex;
    padding: 2em;
    position: fixed;
    overflow-y: scroll;
    background-color: white;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 12;
    opacity: 1;

    .closeButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes openFilter {
  0% {
    right: -100vw;
  }

  100% {
    right: 0vh;
  }
}

@keyframes closeFilter {
  0% {
    right: 0vh;
  }

  100% {
    right: -100vw;
  }
}
