.container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h1 {
    font-size: 32px;
  }

  div {
    font-size: 18px;
    p {
      margin-top: 1em;
    }
  }

  .hide {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  button {
    color: #7b54c9;
    width: fit-content;
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
  }
}
