.container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h1 {
    font-size: 32px;
  }

  div {
    font-size: 18px;
    p {
      margin-top: 1em;
      line-height: 27px;
    }
  }

  .hide {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  button {
    color: #7b54c9;
    width: fit-content;
    background-color: transparent;
    border: none;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px dashed #7b54c9;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 18px;
    }

    p {
      font-size: 16px;
      line-height: 27px;
    }

    .hide {
      -webkit-line-clamp: 11;
    }

    button {
      font-size: 14px;
    }
  }
}
