.button {
  padding: 16px 69px;
  width: 100%;
  background: #7b54c9;
  border-radius: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background 0.5s;

  &:disabled {
    cursor: not-allowed;
    background: #f2f2f2;
    color: #bdbdbd;

    &:hover {
      background-color: #f2f2f2;
    }
  }

  &:hover {
    background-color: #4d2d8e;
  }

  &.reverse {
    outline: 1px solid #7b54c9;
    background: transparent;
    color: #7b54c9;

    &:hover {
      background: #7b54c9;
      color: #ffffff;
    }
  }

  &.news {
    width: fit-content;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;

    &:hover {
      background: #4d2d8e;
    }
  }

  &.cart {
    background: transparent;
    color: #828282;
    outline: 1px solid #e0e0e0;

    &:hover:enabled {
      outline: 1px solid #7b54c9;
      color: #7b54c9;
    }

    &:disabled {
      color: #e0e0e0;
    }
  }
}
