.menu {
  background-color: white;
  position: fixed;
  left: 0;
  min-height: 1080px;
  bottom: -1080px;
  width: 1080px;
  color: #242424;
  border: 2px solid #f2f2f2;
  z-index: 1;

  display: grid;
  grid-template-columns: 1fr 2fr;

  .catalogueItems {
    border-left: 2px solid #f2f2f2;
  }
}
