.menu {
  background-color: white;
  position: absolute;
  min-height: 1080px;
  bottom: -1080px;
  border-radius: 32px;
  width: 1080px;
  color: #242424;
  border: 2px solid #f2f2f2;

  display: grid;
  grid-template-columns: 1fr 2fr;

  .catalogueItems {
    border-left: 2px solid #f2f2f2;
  }
}
