.container {
  padding-bottom: 80px;

  h1 {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .informations {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    iframe {
      flex: 1;
      width: 1138px;
      height: 585px;
      border: 0;
      border-radius: 16px;
    }
  }
}
