.container {
  margin-bottom: 120px;
  margin-top: 40px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 80px;

    .title {
      line-height: 40px;
    }

    .cart {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 100px;

      .cartItems {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 32px;
      }

      .cartTotal {
        flex: 1;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .content {
      .cart {
        flex-direction: column;
      }
    }
  }
}
