.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  position: fixed;
  padding: 22px 34px;
  background: #ffffff;
  box-shadow: 4px 0px 40px rgba(35, 35, 35, 0.1);
  border-radius: 12px 12px 0px 0px;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    p {
      font-weight: 600;
    }

    .home {
      color: #7b54c9;
    }
  }
}
