.DiscountTabs {
  .swiper {
    z-index: 0;
    .swiper-wrapper {
      .swiper-slide {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  &:hover {
    visibility: visible;
    opacity: 1;
  }

  &--button {
    // visibility: hidden;
    transform: translate(0, -50%);
  }
}

@media screen and (min-width: 1024px) {
  .PublicationsVideo {
    .swiper {
      padding: 0;
      .swiper-wrapper {
        .swiper-slide {
          cursor: pointer;

          &:active {
            cursor: grabbing;
          }
        }
      }
    }

    &__slider {
      margin: 0;
    }
  }
}
