body {
  overflow-x: hidden;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gilroy", sans-serif;
}

img {
  position: relative;
}

svg {
  display: block;
}

a {
  color: #242424;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
