@import "./colors.scss";
@import "/src/design/fonts/Gilroy2/stylesheet.css";

body {
  // overflow-x: hidden;
  font-size: 16px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

* {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gilroy", sans-serif;
}

a {
  color: inherit;
}

img {
  position: relative;
}

svg {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// limites text lines
.text-one-line,
.text-two-line,
.text-three-line,
.text-four-line {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-one-line {
  -webkit-line-clamp: 1;
}
.text-two-line {
  -webkit-line-clamp: 2;
}
.text-three-line {
  -webkit-line-clamp: 3;
}
.text-four-line {
  -webkit-line-clamp: 4;
}
