.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  .page-item {
    list-style-type: none;
    border: none;
    position: relative;
    cursor: pointer;
    text-align: center;
    border-radius: 1000px;
    width: 40px;

    .page-link {
      border-radius: 600px;
      background: #f2f2f2;
      line-height: 19px;
      text-align: center;
      color: #828282;
      display: block;
      padding: 10px 0;
      transition: all 0.3s;
      font-weight: 600;

      &:hover {
        background: #dadada;
        color: #242424;
      }
    }

    .previous-page,
    .next-page {
      padding: 11px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        svg * {
          stroke: #242424;
        }
      }
    }
  }

  .active {
    .page-link {
      background: #7b54c9;
      color: white;

      &:hover {
        background: #63479b;
        color: white;
      }
    }
  }
}
