.container {
  display: flex;
  gap: 16px;

  .slider {
    width: calc(75% - 8px);
  }

  .side {
    width: calc(25% - 8px);
  }

  .sideImg {
    position: relative;
    height: 100%;
    display: block;

    img {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .scroll {
    overflow-x: scroll;
    margin: 0 -2em;
    padding: 0 2em;

    img {
      border-radius: 16px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    .side {
      display: none;
    }

    .slider {
      display: none;
    }

    .side {
      display: none;
    }

    .scroll {
      display: flex;

      img {
        width: 100%;
      }
    }
  }
}
