.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .dropdown {
    font-weight: 600;
    // font-size: 16px;
    line-height: 17px;
    color: #828282;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;

    div {
      &:first-child {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        svg {
          fill: #828282;
          transform: rotate(90deg);
        }
      }
    }
  }

  .sortBy {
    display: flex;
    flex-direction: row;
    gap: 24px;
    .title {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #bdbdbd;
    }

    .choices {
      display: flex;
      flex-direction: row;
      gap: 24px;

      li {
        cursor: pointer;
        list-style: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #242424;
        border-bottom: 1px dashed #242424;
      }

      .price {
        display: flex;
        flex-direction: row;
        // align-items: center;

        svg {
          transform: rotate(-90deg);
          margin-left: 4px;
          margin-top: -2px;

          &.ascend {
            transform: rotate(90deg);
            margin-top: 2px;
            margin-left: -2px;
            margin-right: 6px;
          }
        }
      }
    }
  }

  .filterButton {
    display: none;
  }

  .viewType {
    display: flex;
    flex-direction: row;
    gap: 12px;

    svg {
      cursor: pointer;
    }
  }

  .sortDropdown {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    align-items: center;

    .sortDropdown {
      display: flex;
      order: 2;
    }

    .sortBy {
      display: none;
    }

    .filterButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
      font-weight: 600;
      font-size: 16px;
      line-height: 17px;
      color: #828282;
      order: 3;
      cursor: pointer;
    }

    .viewType {
      order: 1;
    }
  }
}
