.link {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  font-family: "Segoe UI";
  color: #828282;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  transition: 0.5s;

  svg {
    stroke: #242424;
    transform: 0.5s;
  }

  &:hover {
    color: #7b54c9;

    svg {
      stroke: #7b54c9;
    }
  }
}
