.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  position: relative;

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    height: 23px;
    width: 23px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
    content: "12";

    &:checked {
      background-color: #7b54c9;
    }
  }

  .tick {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 23px;
    width: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
}
