.container {
  margin-bottom: 120px;
  margin-top: 40px;

  .wrapper {
    display: grid;
    grid-template-columns: 6fr 2fr;
    gap: 120px;
    position: relative;
    z-index: 2;
    .cartTotal {
      position: -webkit-sticky; /* for Safari */
      position: sticky;
      top: 42%;
      align-self: flex-start;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 80px;

    .cart {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 100px;
      // position: relative;

      .cartItems {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 32px;

        hr {
          border: 1px solid #f2f2f2;
        }

        .amount {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          div {
            &:nth-of-type(1) {
              flex: 4;
            }
            &:nth-of-type(2) {
              flex: 1;
              font-size: 20px;
              line-height: 23px;
              color: #828282;
            }
            &:nth-of-type(3) {
              flex: 1;
              font-weight: 700;
              font-size: 24px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .wrapper {
      display: flex;
      flex-direction: column;
    }
    .content {
      position: relative;

      .cart {
        gap: 30px;
        flex-direction: column;

        .cartItems {
          display: none;
          .amount {
            display: inline;
            div {
              display: inline-block;
              margin-right: 1em;
            }
          }
        }
      }
    }
  }
}
