.container {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  gap: 36px;
  position: relative;
  z-index: 1;
  width: 100%;

  a {
    color: white;
  }

  svg {
    pointer-events: none;
  }

  .information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .contacts {
      display: flex;
      flex-direction: row;
      gap: 16px;

      .social {
        display: flex;
        gap: 8px;

        svg {
          cursor: pointer;
        }
      }

      p {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .categories {
      display: flex;
      flex-direction: row;
      gap: 32px;

      a {
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .image {
      width: auto;
      height: 40px;
      object-fit: contain;
    }

    .navButtons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 40px;

      .navButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        cursor: pointer;
      }
    }

    .menuButton {
      padding: 16px 18px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      border: none;
      cursor: pointer;
    }

    .menuLogo {
      height: 24px;
      width: 24px;
      fill: #ffffff;
    }

    .languageButton {
      height: 20px;
      width: 20px;
    }
  }
}
