.reviews {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 16px;
  }

  @media screen and (max-width: 480px) {
    display: none;
  }
}
