.container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  form {
    height: 361px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .error {
      color: red;
      font-weight: 400;
    }
  }
}
