.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 8px;

  .image {
    width: auto;
    height: 253px;
  }

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #242424;
  }
}
