.headline {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-row: 1fr;
  column-gap: 16px;

  .sliders {
    display: grid;
    max-height: 446px;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    gap: 12px;

    .mainImg {
      background-repeat: no-repeat;
      background-size: contain;
    }

    .slider {
      display: flex;
      flex-direction: row;

      img {
        object-fit: contain;
        height: 100%;
        width: auto;
      }
    }
  }

  div {
    overflow: hidden;
  }

  .mainImg {
    border-radius: 24px;
  }

  .slider {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 16px;

    img {
      border-radius: 16px;
    }
  }

  .sideImg {
    img {
      width: 100%;
      height: auto;
    }
  }
}
