.salesTab {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .tabs {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 24px;

    .tab {
      img {
        border-radius: 8px;
        width: 100%;
        height: auto;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
