.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  cursor: pointer;
  color: #242424;

  .image {
    overflow: hidden;
    border-radius: 16px;
  }
  &:hover {
    img {
      scale: 1.1;
    }
  }

  img {
    transition: 0.5s;
  }

  h3 {
    font-size: 20px;
    line-height: 150%;
  }

  div {
    font-size: 18px;
    line-height: 150%;
    color: #828282;
  }
}
