.main {
  position: relative;
  background: linear-gradient(270.21deg, #b5159d 0.19%, #632489 99.81%);
  // background: linear-gradient(270.95deg, #642489 20.31%, #632489 100%);
}

.children {
  padding: 0 160px;
  border-radius: 32px;
  background-color: white;
}
