.container {
  position: relative;
  background: linear-gradient(270.21deg, #b5159d 0.19%, #632489 99.81%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  .cheader,
  .content,
  .cfooter {
    width: 1600px;
    max-width: 100%;
  }

  .children {
    width: 100%;
    flex: 1;
    border-radius: 32px;
    background-color: white;
  }

  .header,
  .footer,
  .children {
    // padding: 0 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 1599px) {
    .content {
      padding: 0 3em;
    }
  }
}
