.main {
  position: relative;
  background: linear-gradient(270.21deg, #b5159d 0.19%, #632489 99.81%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.header,
.children,
.footer {
  width: 1600px;
}

.content {
  width: 100%;
  flex: 1;
  border-radius: 32px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
