.container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    textarea {
      min-height: 163px;
    }
    .error {
      color: red;
      font-weight: 400;
    }
  }
}
